@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patua+One&family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
.App {
  text-align: center;
}
body {
  background-color: #2e856e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.heading-section {
  color: beige;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.heading-name {
  font-size: 35px;
}
nav {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
li .nav-link {
  font-size: 2rem;
  color: #5c4033;
  border-right: #5c4033 dotted;
}
li .nav-link:hover {
  color: beige;
}
a .nav-link {
  color: beige;
}

.navbar-color {
  background: url("../src/img/beigebg.jpeg");
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.heading-section h1 {
  color: beige;
  font-family: "Amiri";
}
.heading-name {
  font-size: 30px;
}
.heading-lead {
  padding-top: 0%;
  font-size: 20px;
}
.embed-section {
  margin-top: 25px;
}
.calendar-section {
  background: url("../src/img/beigebg.jpeg");
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.mosque {
  margin-top: 25px;
  background-color: #2e856e;
}

.mixlr-section {
  height: 215px;
  background: url("../src/img/beigebg.jpeg");
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.telegram-section {
  background: url("../src/img/beigebg.jpeg");
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.latest-section {
  height: 215px;
  background: url("../src/img/beigebg.jpeg");
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  padding-top: 30px;
  padding-left: 30px;
}
.mixlr-img-section {
  height: 215px;
  background: url("../src/img/beigebg.jpeg");
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.mixlr {
  background-color: beige;
  height: 215px;
}
img .logo {
  height: 50px;
  width: 50px;
}
.shamailimg {
}
.display-head {
  margin-top: 25px;
  font-family: "Gloria Hallelujah", sans-serif;
  color: beige;
  font-size: 30px;
}
.display-title {
  font-family: "Fredoka One", sans-serif;
  color: beige;
}
.displayimg {
  height: 150px;
}

@media (min-width: 1200px) {
  .calendar-section {
  }
  .mixlr-section {
  }
}
@media (max-width: 991.98px) {
  .calendar-section {
  }
  .mixlr-section {
  }
  .telegram-section {
  }
  .latest-section {
    height: 215px;
  }
}

@media (max-width: 767.98px) {
  .heading-name {
    font-size: 25px;
  }
  .heading-lead {
    padding-top: 0%;
    font-size: 15px;
  }
  .calendar-section {
  }
  .mixlr-section {
  }
  .embed-section {
  }
}

@media (max-width: 575.98px) {
  .heading-name {
    font-size: 20px;
  }
  .heading-lead {
    padding-top: 0%;
    font-size: 15px;
  }
  .calendar-section {
  }
  .mixlr-section {
  }
  .embed-section {
  }
}

@media (prefers-reduced-motion: no-preference) {
  .embed-section {
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
